body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body header{
    background-color: brown;
    color:aliceblue;
}
article{
    display:block;
    border-bottom: 2px solid grey;
    margin-left: 5px;
}
h2{
    color:rgb(26, 83, 121);
}
img{
    margin-left: 5px;
    padding: 5px;
}